* {
  font-family: Roboto;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

/* general */

.pageColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.listContent {
  width: 500px;
}

.pageContent {
  width: 50%;
  margin-bottom: 10%;
}

.instanceTitle {
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 28px;
  color: #494B4E;
}

.instanceSubtext {
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;
  color: #92979E;
}

.instanceSubtitle {
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 24px;
  color: #1A535C;
}

.instanceBody {
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;
  color: #92979E;
}

.page-body {
  margin: 50px 200px;
  align-items: center;
}

/* splash */
.splashText {
  font-size: 20px;
  font-style: normal;
}

.splashHeader {
  font-size: 60px;
}

.splashCardRow {
  width: 90%;
  margin: 0 auto;
  /* background: #808080; */
  display: flex;
  /* align-items: center; */
}

.splashCardRowAccent {
  width: 20%;
  background: #49C1B9;
  margin-top: 5%;
}

.splashCardHeader {
  
  font-size: 40px;
  float: left;
  text-align: left;
  margin-top: 1%;
}

.splashCardMedia {
  height: 250px;
}

.splashCard {
  max-width: '100%';
  min-width: 300px;
}

.heroText {
  
  float: left;
  color: white;
  text-align: left;
  padding: 150px 80px;
}

.heroImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: 50em;
}

/* Cards */
.card-media {
  height: 250px;
}

/* universities page */
.universities_column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.universities_content {
  /* background: #808080; */
  width: 40%;
  min-width:400px;
}

.universities_instance_content {
  /* background: #808080; */
  width: 70%;
  min-width:500px;
}

.eventMediaCard {
  height: 275px;
}

.eventDateMonth {
  width: 57px;
  height: 33px;
  
  line-height: normal;
  font-size: 24px;
  color: #49C1B9;
  margin-left:25px;
  margin-top:14px;
}

.eventDateDay {
  width: 54px;
  height: 62px;
  
  line-height: normal;
  font-size: 45px;
  color: #494B4E;
  margin-left:25px;
  margin-top:-30px;
}

.eventName {
  float:left;
  vertical-align:top;
  line-height: normal;
  font-size: 36px;
  color: #494B4E;
  margin-top:0px;
  overflow-y: hidden;
}

.eventAddress {
  vertical-align:top;
  float:left;
  line-height: normal;
  font-size: 18px;
  color: #92979E;
  margin-top:-45px;
}

.eventDateString {
  float:left;
  vertical-align:top;
  
  line-height: normal;
  font-size: 18px;
  color: #49C1B9;
  margin-top:-45px;
}

.eventDescription {
  float:left;
  
  line-height: normal;
  font-size: 18px;
  color: #92979E;
  text-align:left;
}

.eventSpaceTitle {
  
  line-height: normal;
  font-size: 36px;
  float:left;
  color: #49C1B9;
  display: block;
}

/* about page */
.about_content {
  width: 50%;
  min-width:400px;
  /* color: #1A535C; */
}

.about_ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

/* navbar */
.Navbar-div {
  width: 100%;
  height: 40px;
  background-color: rgb(102, 102, 102);
}

.Navbar-button {
  padding-right: 20px;
  padding-left: 20px;
  display: inline-block;
}

.logo {
  height: 40px;
  width: auto;
  padding: 4px;
}

/* FOOTER */
.footer-container {
  background-color: #1C1C1C;
  margin-top: 100px;
  padding: 25px;
  text-align: center;
}

/* pagination */

.tableDiv {
  display: table;
  margin: 0 auto;
}

.pagination {
  min-width: 696px;
  list-style: none;
  margin-top: 80px;
  margin-bottom: 80px;
}

.pagination li {
  display: inline;
  padding: 15px;
}

.pagination li a {
  padding: 8px 5px;
  text-decoration: none;
  font-weight: 600;
}

.pagination li a:hover:not(.active) {
  outline: none;
  cursor: pointer;
}

.pagination li a:focus {
  outline: none;
}

.paginationPage {
  margin: 5px;
  background-color: #f5f5f5;
  color: black;
  border-radius: 10px;
}

.paginationActive {
  background-color: #E4C400; /* accent color */
  color: white;
  border-radius: 10px;
}

li.next, li.previous {
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 5px;
}

/* React Autocomplete */
.search-body {
  text-align: left;
  padding: 20 0;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 200px;
  height: 30px;
  padding: 10px 20px;
  font-weight: 300;
  font-size: 16px;
  background-color: #eee;
  border: 0px solid #eee;
  border-radius: 4px;
  outline: none;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 48px;
  width: 320px;
  background-color: #fff;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.search-body {
  display: flex;
}

.search-button {
  position: relative;
  left: -10px;
  height: 52px;
}

/* highlight text class */

.YourHighlightClass {
  background: rgb(228, 196, 0, 0.5);
}

/* Filter and Sort */
.filter-sort-container {
  /* background-color: #ddd; */
  width: 100%;
  padding: 5px 15px;
}

/* Clear floats after the columns */
.filter-sort-container:after {
  content: "";
  display: table;
  clear: both;
}

.filter-body {
  float: left;
  width: 70%;
  content: "";
  display: table;
  clear: both;
}

.filter-item {
  padding-top: 20px;
  padding-right: 20px;
  float: left;
  width: auto;
}

.sort-body {
  float: left;
  width: 30%;
}

/* SORT */
.form-container {
  content: "";
  display: table;
  clear: both;
  padding-top: 15px;
}

.sort-button {
  float: left;
  width: 75%;
}

.order-button {
  float:left;
  width: 25%;
  padding-top: 2px;
}

/* Open Now Button */
.openButton {
  color: #494B4E;
  border-radius: 8px;
  border: 1px solid #aaa;
  padding: 10px 24px;
  background-color: white;
  padding: 12px 36px;
  font-size: 14px;
  margin-top: 10px;
  height: 50px;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.bar {
  fill: #1BC86C;
}

.bar:hover {
  fill: #bfefd3;
}

.d3-tip {
  line-height: 0.4;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* responsiveness */
@media only screen and (max-width: 1300px) {
  .page-body {
    margin: 50px 50px;
    align-items: center;
    color: #1A535C;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="listContent"] {
    width: 85%;
  }
  /* For mobile phones: */
  [class*="pageContent"] {
    width: 85%;
  }
  .heroImage {
    height: 20em;
    filter: blur(1.5rem);
  }
  .heroText {
    padding: 100px 40px
  }
  .splashHeader {
    font-size: 40px;
  }
  .splashText {
    font-size: 20px;
  }
  .splashCardHeader {
    font-size: 30px;
  }
  .splashCardMedia {
    height: 150px;
  }
  .splashCard {
    max-width: '100%';
    min-width: 100px;
  }
  .page-body {
    margin: 50px 10px;
    align-items: center;
  }

  /* mobile pagination */
  .pagination {
    text-align: left;
  }

  li.paginationPage, li.break-me {
    display: none;
  }

  li.next, li.previous {
    background-color: #f5f5f5;
    border-radius: 10px;
  }

  li.next:active, li.previous:active {
    background-color: #1BC86C;
  }
}
